= stylesheet_link_tag 'book'

.col-auto.img
  = image_tag(@book.image.url)
.col-auto
  %h1= @book.name
  %p
    %b= "Group:"
    = @book.group.name
  %p.authors= "Authors:"
  %ul
    - @book.authors.each do |author|
      %li= link_to author.name, author
  %p
    %b= "Discription:"
  = @book.discription
