= content_for :head do
  %title
    = @book.name

= stylesheet_link_tag 'book'

.col-xl-3.col-lg-4.col-md-6
  = image_tag(@book.image.url, class: "img")
.col-xl-9.col-lg-8.col-md-6
  %h1= @book.name
  %p
    %b= "Group:"
    = @book.group.name
  %p.authors= "Authors:"
  %ul
    - @book.authors.each do |author|
      %li= link_to author.name, author
  %p
    %b= "Discription:"
  = @book.discription
